{% extends "app/base.html" %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %} 
    <div class="py-3 space-y-3">
        <h1 class="text-3xl border-b py-2 font-semibold">{{ post.title }}</h1>

        <p class="italic text-gray-500">
            Published {{ post.created_at }} by {{ post.author }}
        </p>
        <p>
            {{ post.content|linebreaks }}
        </p>
        <p>
            <a href="{% url 'post_share' post.slug %}" class="underline hover:text-blue-400">Share this post</a>
        </p>
    </div>


{% endblock %}
