{% extends "app/base.html" %}
{% load static %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %} 
    <div class="px-6 md:px-12">
        <p class="uppercase space-x-3 text-sm tracking-wide">
            <span class="bg-gray-900 text-white py-1 px-3 ">{{ post.author }}</span>
            <span>{{ post.created_at }}</span>
        </p>
        <h1 class="text-3xl md:text-4xl pt-6 font-semibold">{{ post.title }}</h1>
        
        <p class="py-6">Image here</p>

        <div class="grid grid-cols-1 lg:grid-cols-3">
            <div class="col-span-2">
                {{ post.content|safe }}
            </div>

            <div class="hidden lg:block lg:pl-6">
                <h3 class=" font-semibold uppercase border-b-2 border-black py-2">Related Posts</h3>
                {% for post in similar_posts %}
                    <div class="flex gap-3 py-4 {% if not forloop.last %} border-b {% endif %}">
                        <div>Image here</div>
                        <div>
                            <a href="{{ post.get_absolute_url }}" class="hover:underline text-lg font-semibold">{{ post.title }}</a>
                            <p class="uppercase text-xs">{{ post.author }}</p>
                        </div>
                    </div>
                {% empty %}
                    <p class="pt-3">There are no similar posts yet.</p>
                {% endfor %}
            </div>
        </div>
        

        <p class="pt-6">
            <a href="{% url 'post_share' post.slug %}" class="underline text-blue-600 hover:text-blue-400">Share this post</a>
        </p>

        <!-- About Author -->
        <div class="pt-8">
            <h2 class="font-semibold text-xl border-b">About <span class="capitalize">{{ post.author }}</span></h2>
            <div class="flex space-y-3 flex-col md:flex-row md:space-x-3 pt-4">
                <div>
                    <img src="{% static 'images/default-user.png' %}" alt="" class="w-16 h-16 rounded-full">
                </div>
                <div>
                    <p>Admin is a Django Developer, based in New York.</p>
                    <p>More about Admin</p>
                </div>
            </div>
        </div>

        <!-- Comments -->
        <div class="pt-8">
            {% with comments.count as total_comments %}
                <h2 class="text-xl font-semibold border-b">{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
            {% endwith %}

            {% for comment in comments %}
                <div class="pt-4">
                    <p class="capitalize font-semibold">{{ comment.name }}</p>
                    <p class="text-gray-500 text-sm">{{ comment.created_at }}</p>

                    <div class="pt-3">
                        {{ comment.body|linebreaks}}
                    </div>
                </div>
            {% empty %}
                <p>There are no comments.</p>
            {% endfor %}

            {% include "app/blog/includes/comment_form.html" %}
        </div>

        <div class="py-8">
            <h2 class="font-semibold text-xl border-b">Related Posts</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 py-4">
                {% for post in similar_posts %}
                    <div class="bg-gray-200">
                        <div>Image here</div>
                        <a href="{{ post.get_absolute_url }}" class="hover:underline text-lg font-semibold">{{ post.title }}</a>
                        <p class="uppercase text-xs">{{ post.author }}</p>
                    </div>
                {% empty %}
                    <p class="pt-3">There are no similar posts yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}
