{% extends "app/base.html" %}

{% block title %} Share a post {% endblock %}

{% block content %} 
    <div>
        {% if sent %}
            <h1 class="text-3xl border-b py-2 font-bold">E-mail successfully sent.</h1>
            <p>
                {{ post.title }} was successfully sent to {{ form.cleaned_data.to }}.
            </p>

        {% else %}
            <h1 class="text-3xl border-b py-2 font-bold">Share "{{ post.title }}" by e-mail</h1>
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}

                <button class="bg-blue-300 hover:bg-gray-900 hover:text-white py-2 px-4 border-2 font-semibold">Share</button>
            </form>
        {% endif %}
    </div>


{% endblock %}
